%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%hide-text {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
