// Misc
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin white-transparent-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--size-3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

// Fade In Animation
@mixin fade-in($delay) {
  animation: fade-in #{$delay} ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Media Query
@mixin media-query($width) {
  @media (min-width: $width) {
    @content;
  }
}

// Themes
@mixin light-theme {
  --background: var(--gray-0);
  --text: var(--gray-10);
  --card-bg: var(--gray-0);
  --darker-card-bg: var(--gray-4);
  --pid: var(--gray-6);
}

@mixin dark-theme {
  --background: var(--gray-10);
  --text: var(--gray-1);
  --card-bg-color: var(--gray-2);
  --darker-card-bg-color: var(--gray-5);
  --pid-color: var(--gray-5);
}
