%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%white-transparent-card {
  background: rgba(255, 255, 255, 0.3);
  border-radius: var(--size-2);
  backdrop-filter: blur(var(--size-1));
}

%hide-text {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

%clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
