//*Box Shadows
$black-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

//*Breakpoints
$small: 640px;
$medium: 768px;
$large: 1024px;
$x-large: 1536px;

//*Types
$normal: #929ca2;
$fighting: #ce406a;
$flying: #8fa9de;
$poison: #ab6ac8;
$ground: #d97845;
$rock: #c5b68d;
$bug: #91c02e;
$ghost: #5269ad;
$steel: #5b8ea3;
$fire: #ff9c54;
$water: #5191d6;
$grass: #62bc5b;
$electric: #f5d23d;
$psychic: #fa7078;
$ice: #72cfc0;
$dragon: #0a6cc3;
$dark: #5a5564;
$fairy: #ec8fe6;
