.container {
  border-radius: var(--size-1);
  display: flex;
  padding: var(--size-1);
  background-color: var(--gray-3);
}

.container > input {
  border-style: hidden;
  background-color: transparent;
  font-weight: 300;
  font-size: var(--size-3);
  font-family: inherit;
  margin-inline: var(--size-1);
  width: 100%;
}

.container > input:focus {
  outline: none;
}

.container:has(input:hover) {
  transition: background-color ease-in-out 300ms;
  background-color: var(--gray-4);
}

.container:has(input:focus) {
  background-color: var(--gray-4);
}

.container > input::placeholder {
  font-weight: 500;
}
