@use '@/styles/sass/abstracts' as *;

.container {
  display: flex;
  justify-self: center;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  padding: 0.25rem;
  user-select: none;
  height: 3rem;
  background-color: var(--background);
  box-shadow: $black-box-shadow;
}

.hideText {
  @extend %hide-text;
}

.mainIcon {
  margin-inline: auto;
  width: var(--size-8);
  height: auto;

  &:hover {
    animation: var(--animation-shake-x);
  }
}

.filterIconContainer {
  position: absolute;
  right: 0;

  button {
    position: relative;
    position: absolute;
    top: var(--size-1);
    right: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--blue-1);
    padding: var(--size-2);
    border-radius: var(--size-3);
    margin-inline-end: var(--size-2);

    svg {
      width: var(--size-3);
      height: auto;
      color: var(--blue-10);
    }
  }
}

.dotIcon {
  position: absolute;
  right: 0;
  top: 1px;
  width: var(--size-2);
  height: var(--size-2);
  background-color: var(--red-5);
  border-radius: var(--size-15);
}
