@use '@/styles/sass/abstracts' as *;

.container {
  @include fade-in(200ms);

  margin-inline: var(--size-2);

  display: flex;
  flex-direction: column;

  color: var(--text);
  font-size: var(--size-4);

  & > div {
    margin-block-end: var(--size-3);
  }
}

.dataField {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  h2 {
    @extend %clip-text;
    font-size: var(--size-4);
    font-weight: 600;
    filter: brightness(0.8);
  }

  p {
    filter: brightness(0.8);
  }

  &::after {
    content: '';
    border-bottom: 2px solid var(--gray-2);
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
  }
}

.typeContainer {
  display: flex;
  *:not(:last-child) {
    margin-right: 1rem;
  }
}

.abilitiesContainer {
  display: flex;
  overflow: auto;
  margin-inline-start: var(--size-5);
  white-space: nowrap;
  scrollbar-width: none;
  border-radius: var(--size-1);

  .abilityWrapper {
    color: var(--background);
    padding-inline: var(--size-2);
    border-radius: var(--size-3);

    p {
      filter: initial;
      font-size: var(--size-3);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  div:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@include media-query($medium) {
  .container {
    font-size: var(--size-5);
    & > div {
      margin-bottom: var(--size-7);
    }
  }

  .dataField {
    h2 {
      font-size: var(--size-5);
    }
  }

  .abilitiesContainer {
    .abilityWrapper {
      p {
        font-size: 1.15rem;
      }
    }
  }
}
