@use "@/styles/sass/abstracts" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  min-width: 320px;
}

.returnArrow {
  align-self: flex-start;
  position: absolute;
  z-index: 1;

  svg {
    width: var(--size-7);
    height: auto;
  }
}

.heading {
  @extend %hide-text;
}

.pokeImgContainer {
  position: relative;
  width: 100%;

  & div:first-child {
    position: absolute;
    top: 20%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    letter-spacing: var(--font-letterspacing-4);
    font-size: 6rem;
    mix-blend-mode: multiply;
    white-space: nowrap;
  }
}

.pokeImgWrapper {
  @extend %flex-center;
  position: relative;
  @include fade-in(1500ms);
}

.pokeImg {
  width: 55%;
  height: auto;
  max-width: 15rem;
  margin: 1rem 0 1rem 0;
}

.detailsContainer {
  background-color: var(--background);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  flex-grow: 1;
}

.tabsContainer {
  ul {
    padding-inline: var(--size-2);
    margin-block-start: var(--size-2);
    margin-block-end: var(--size-4);
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: initial;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      border-radius: 5rem;
      letter-spacing: var(--font-letterspacing-3);
      font-weight: var(--font-weight-5);

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        cursor: pointer;
      }

      @media (hover: none) and (pointer: coarse) {
        &:active {
          @include fade-in(200ms);
        }
      }

      @media (hover: hover) and (pointer: fine) {
        &:not(:active) {
          @include fade-in(200ms);
        }
      }
    }
  }
}

@include media-query($medium) {
  .container {
    flex-direction: row;
    align-items: initial;
  }

  .pokeImgContainer {
    align-self: center;
    & div:first-child {
      top: 50%;
      letter-spacing: var(--font-letterspacing-5);
      font-size: var(--size-10);
    }
  }

  .pokeImg {
    height: auto;
    max-width: 100%;
  }

  .detailsContainer {
    border-top-right-radius: initial;
    border-bottom-left-radius: 1rem;
    width: 50%;
  }

  .tabsContainer {
    ul {
      li {
        letter-spacing: var(--font-letterspacing-4);
      }
    }
  }

  .returnArrow {
    svg {
      width: var(--size-8);
    }
  }
}
