@use '@/styles/sass/abstracts' as *;

.loadingContainer {
  @extend %flex-center;
  height: calc(100vh - var(--size-12));

  svg {
    width: 50px;
    height: 50px;
  }
}

.container {
  position: relative;
}

.gradientBg {
  position: absolute;
  filter: opacity(0.5);
  width: 100%;
  height: max(100vh, 100%);
}

.returnArrowContainer {
  position: sticky;
  top: 0;
  backdrop-filter: blur(var(--size-2));
  z-index: 1;

  svg {
    width: var(--size-8);
    height: auto;
  }
}

.contentContainer {
  @include fade-in(200ms);
  @extend %flex-column;
}

.heading {
  @extend %hide-text;
}

.pokeImgContainer {
  @extend %flex-center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.pokeImgWrapper {
  @extend %flex-center;
  position: relative;
  margin-block-end: var(--size-5);

  & div:first-child {
    position: absolute;
    width: 95vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    letter-spacing: clamp(0px, 5vw, 5rem);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-6);
    mix-blend-mode: multiply;
    white-space: nowrap;
    user-select: none;
  }
}

.pokeImg {
  position: relative;
  width: 40%;
  height: auto;
  user-select: none;
}

.detailsContainer {
  @extend %flex-column;
  flex-grow: 1;
  gap: var(--size-3);
  padding-block-end: var(--size-2);
  padding-inline: var(--size-2);
}

@include media-query($medium) {
  .pokeImgWrapper {
    & div:first-child {
      font-size: var(--font-size-7);
    }
  }

  .detailsContainer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    & > section {
      flex-basis: 35%;
    }
  }

  .pokeImg {
    width: 50%;
  }
}
