@use '@/styles/sass/abstracts' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  @include fade-in(500ms);
}

.returnArrow {
  align-self: flex-start;
  position: absolute;
  z-index: 1;

  svg {
    width: var(--size-7);
    height: auto;
  }
}

.heading {
  @extend %hide-text;
}

.pokeImgContainer {
  @include flex-column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 8rem;

  & div:first-child {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    letter-spacing: var(--font-letterspacing-4);
    font-size: 6rem;
    mix-blend-mode: multiply;
    white-space: nowrap;
  }
}

.pokeImgWrapper {
  @extend %flex-center;
  position: relative;
}

.pokeImg {
  @include fade-in(300ms);
  width: 40%;
  height: auto;
  margin-block: var(--size-2);
}

.detailsContainer {
  @include flex-column;
  gap: var(--size-3);
  width: 100%;
  overflow: auto;
  padding-block-end: var(--size-2);
}

@include media-query($small) {
  .container {
    flex-direction: row;
    align-items: initial;
  }

  .pokeImgContainer {
    align-self: center;
    & div:first-child {
      top: 50%;
      letter-spacing: var(--font-letterspacing-5);
      font-size: var(--size-10);
    }
  }

  .pokeImg {
    width: 80%;
    max-width: 100%;
  }

  .returnArrow {
    svg {
      width: var(--size-8);
    }
  }

  .detailsContainer {
    padding-block: var(--size-2);
  }
}
