@use '@/styles/sass/abstracts' as *;

.gradientBg {
  position: absolute;
  filter: contrast(0.8);
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.returnArrow {
  align-self: flex-start;
  position: absolute;
  z-index: 1;

  svg {
    width: var(--size-8);
    height: auto;
  }
}

.heading {
  @extend %hide-text;
}

.pokeImgContainer {
  @include flex-column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 25vh;
}

.pokeImgWrapper {
  @extend %flex-center;
  position: relative;

  & div:first-child {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    letter-spacing: var(--font-letterspacing-5);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-6);
    mix-blend-mode: screen;
    white-space: nowrap;
  }
}

.pokeImg {
  @include fade-in(300ms);
  position: relative;
  width: 50%;
  height: auto;
  margin-block: var(--size-2);
}

.detailsContainer {
  @include flex-column;
  gap: var(--size-3);
  width: 100%;
  overflow: auto;
  padding-block-end: var(--size-2);
  padding-inline: var(--size-2);
}

@include media-query($small) {
  .container {
    flex-direction: row;
    align-items: initial;
  }

  .pokeImgContainer {
    align-self: center;
    height: 100%;
  }

  .pokeImgWrapper {
    & div:first-child {
      bottom: -10%;
      letter-spacing: var(--font-letterspacing-5);
      font-size: var(--font-size-7);
    }
  }

  .pokeImg {
    width: 90%;
  }

  .detailsContainer {
    padding-block: var(--size-2);
  }
}
