@use '@/styles/sass/abstracts' as *;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  @include fade-in(500ms);
}

@include media-query($small) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(var(--size-13), 1fr));
    padding-inline: var(--size-6);
  }
}

@include media-query($two-large) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}
