@use "../abstracts" as *;

body {
  background-color: var(--background);
}

a {
  color: initial;
}

@include media-query($medium) {
  ::-webkit-scrollbar {
    width: 0.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--gray-6);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-7);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--gray-4);
  }
}
