@use '@/styles/sass/abstracts' as *;

.smallType {
  width: 3.75rem;
  height: auto;
}

.mediumType {
  width: 6rem;
  height: auto;
}

@include media-query($small) {
  .smallType {
    width: 4.75rem;
  }
}
