@use '@/styles/sass/abstracts' as *;

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--card-bg);
  width: 100%;
  transition: background-color var(--ease-in-out-3) 1500ms;
  user-select: none;
  border: 1px solid var(--darker-card-bg);
  overflow: hidden;
}

.container:hover {
  background-color: var(--darker-card-bg);
  transition-duration: 300ms;
}

.container:hover .pokeImg {
  transform: scale(1.25);
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--size-2);
}

.headContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.pokeName {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
  color: var(--text);
  align-self: flex-start;
}

.pokeId {
  color: var(--pid);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-3);
  line-height: var(--size-6);
}

.typeContainer {
  display: flex;
  margin-top: var(--size-1);
}

.typeContainer {
  *:not(:last-child) {
    margin-right: var(--size-2);
  }
}

.rightContainer {
  @extend %flex-center;
  position: relative;
}

.pokeImg {
  height: auto;
  position: absolute;
  right: 0;
  max-width: var(--size-9);
  transition: transform var(--ease-in-out-2) 200ms;
}

@include media-query($small) {
  .pokeId {
    font-size: var(--font-size-6);
    line-height: var(--size-8);
  }
  .pokeName {
    font-size: var(--font-size-4);
  }
  .pokeImg {
    max-width: 6rem;
  }
}
