@use '@/styles/sass/abstracts' as *;

.container {
  @include fade-in(200ms);
  @include flex-column;
  @include white-transparent-card;
  margin-inline: var(--size-2);
  padding: var(--size-3);
  color: var(--text);
  font-size: var(--size-4);
  gap: var(--size-3);

  & > div {
    h2 {
      margin-inline-end: var(--size-5);
    }
    p {
      overflow: auto;
      text-wrap: nowrap;
    }
  }
}

.dataField {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  h2 {
    font-size: var(--size-4);
    font-weight: var(--font-weight-5);
    filter: brightness(0.4);
  }

  p {
    filter: brightness(0.4);
  }
}

.typeContainer {
  display: flex;
  overflow: auto;
  gap: var(--size-1);
}

.abilitiesContainer {
  display: flex;
  overflow: auto;
  margin-inline-start: var(--size-5);
  white-space: nowrap;
  gap: var(--size-2);
}

.abilityWrapper {
  padding-inline: var(--size-2);
  border-radius: var(--size-3);

  p {
    filter: initial;
    color: var(--background);
    font-size: var(--size-3);
  }
}

@include media-query($small) {
  .container {
    font-size: var(--size-5);
    margin-inline-start: initial;
  }

  .dataField {
    h2 {
      font-size: var(--size-5);
    }
  }

  .abilityWrapper {
    p {
      font-size: 1.15rem;
    }
  }
}
