@use '@/styles/sass/abstracts' as *;

.container {
  @extend %flex-column;
  @extend %white-transparent-card;
  font-size: var(--font-size-4);
}

.statRowContainer {
  display: flex;
  align-items: center;
  padding: var(--size-3);

  h2 {
    font-size: var(--size-4);
    font-weight: var(--font-weight-5);
    filter: brightness(0.5);
  }

  p {
    filter: brightness(0.5);
  }
}

.statProgressContainer {
  flex-grow: 1;
}

.statProgress {
  height: var(--size-3);
  border-radius: var(--size-10);
  margin-inline: var(--size-3);
  filter: brightness(0.9);
}

@include media-query($medium) {
  .statRowContainer {
    h2 {
      font-size: var(--size-5);
    }
  }
}
